.blue-button {
    background-color: blue; 
    color: white ; 
    border: none ; 
    border-radius: 8px ; 
    padding: 10px;
    cursor: pointer ;
    margin: 1%;
  }


  .red-button {
    background-color: #ff0000; 
    color: white; 
    border: none; 
    border-radius: 8px; 
    padding: 10px; 
    cursor: pointer; 
  }

  .green-button {
    background-color: rgb(17, 147, 17); 
    color: white; 
    border: none; 
    border-radius: 8px; 
    padding: 10px; 
    cursor: pointer; 
    margin: 1%;
  }

  tr:hover {
    background-color: #8EC8F2; 
}