html,
body {
  height: 100%;
}
body {
  margin: 0;
  text-align: center;
  background-color: #8ec8f2;
}

.container2 {
  padding-top: 30px;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.startBtn {
  margin: 20px !important;
  background-color: white !important;
  color: #8ec8f2 !important;
  font-weight: 700 !important;
}


